# Used the following configs as reference:
# https://github.com/edgecase/pairing-config/blob/master/.gitconfig
# https://github.com/rubyconsumer/dotfiles/commit/3ee7496fb305fb69a7d10fa7982b0f3220386bc4

[user]
  name = Tyler Wymer
  email = twymer@gmail.com

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

[alias]
  br = branch
  df = diff
  co = checkout
  ci = commit
  st = status
  br = branch
  type = cat-file -t
  dump = cat-file -p
  lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --graph --abbrev-commit --date=relative  
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

[core]
  excludesfile = /Users/twymer/.gitignore_global
  editor = /usr/bin/vim

[git-pair]
  authors = Aaron Christy <aaron@edgecase.com>
  authors = Adam McCrea <adam@edgecase.com>
  authors = Andrew Grieser <andrew@edgecase.com>
  authors = Felix Flores <felix@edgecase.com>
  authors = Jerry Nummi <jerry@edgecase.com>
  authors = Jim Weirich <jim@edgecase.com>
  authors = Joe O'Brien <joe@theedgecase.com>
  authors = Ken Barker <ken@theedgecase.com>
  authors = Leon Gersing <leongersing@gmail.com>
  authors = Marc Peabody <marc@edgecase.com>
  authors = Matt Darby <matt.darby@edgecase.com>
  authors = Matt Yoho <mby@mattyoho.com>
  authors = Mike Enriquez <mike@enriquez.me>
  authors = Monica McJunkin <monica@theedgecase.com>
  authors = Paul Wilson <paul@edgecase.com>
  authors = Scott Barron <scott@edgecase.com>
  authors = Scott Walker <scott.walker@edgecase.com>
  authors = Tony Schneider <tonywok@gmail.com>
  authors = Tyler Wymer <twymer@gmail.com>

[push]
  default = upstream
