# Used the following configs as reference:
# https://github.com/edgecase/pairing-config/blob/master/.gitconfig
# https://github.com/rubyconsumer/dotfiles/commit/3ee7496fb305fb69a7d10fa7982b0f3220386bc4

[user]
  name = Tyler Wymer
  email = twymer@gmail.com

[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan

[alias]
  br = branch
  df = diff
  co = checkout
  ci = commit
  st = status
  br = branch
  type = cat-file -t
  dump = cat-file -p
  lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --graph --abbrev-commit --date=relative  
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; vim `f`"
  add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
  re = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(objectname:short) (%(authorname)) %(refname:short)'
  noop = commit --amend --no-edit
  noop-push = !git noop && git push -f

[core]
  excludesfile = ~/.gitignore_global
  editor = /usr/bin/vim

[push]
  default = upstream
